#top-join-us {
    padding: 1.5em 5% 1.5em 5%;
    position: absolute;
    bottom: 0;
    width: 90%;
    vertical-align: middle;
    text-align: center;
    background: rgba(26, 26, 26, 0.85);
}

.input-email {
    width: 30%;
    margin-right: -.2em;
    padding: .2em .5em .43em .5em;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
}

#mission-statement {
    background-color: #DCECCC;
}

.stat-triptych {
    width: 30%;
    padding: 0 1% 0 1%;
    display: inline-block;
    vertical-align:top;
}

.stat-number {
    font-size: 400%;
    font-family: 'Open Sans', sans-serif;
    color: #5E8F3A;
    font-weight: 600;
}

.stat-desc {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.circle-button {
    border-radius: 50%;
    height: 4em;
    width: 4em;
    padding: 1.5em;
    margin: 0 1.5em 0 1em;
    background: #00B0FF;
    display: inline-block;
}

.circle-button > img {
    height: 100%;
}