* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.height-full {
    display: block;
}

.button {
    padding: 0;
    display: inline-block;
    padding: .5em;
    margin: 0 0 0 1.5em;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    background-color: #FF9800;
    vertical-align: top;
}