.circle-button {
    border-radius: 50%;
    height: 7em;
    width: 7em;
    padding: 2.5em;
    margin: 0 1.5em 0 1em;
    background: #00B0FF;
    display: inline-block;
}

.circle-button > img {
    height: 100%;
}