/*.man-button {
    border-radius: 50%;
    height: 6em;
    width: 6em;
    padding: 2em;
    margin: 0 1.5em 0 1em;
    background: #5E8F3A;
    display: inline-block;
}

.man-button > img {
    height: 100%;
}

.circle-button {
    border-radius: 50%;
    height: 4em;
    width: 4em;
    padding: 1.5em;
    margin: 0 1.5em 0 1em;
    background: #00B0FF;
    display: inline-block;
}

.circle-button > img {
    height: 100%;
}

.input-email {
    width: 30%;
    margin-right: -.2em;
    padding: .2em .5em .43em .5em;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
}*/

.gallery {
    /*height: 6em;*/
    width: 30%;
    padding: .5em;
    display: inline-block;
}

.gallery > img {
    width: 100%;
}